@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo(a)!</h1>
    <p>Crie um novo contato na sua agenda <a href="http://localhost:5219/ListaTelefonica/Create">aqui</a>.</p>
</div>